<br>
<div class="container">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Sender</th>
      <th scope="col">Post Text</th>
      <th scope="col">Bid Amount</th>
      <th scope="col">Current Votes</th>
      <th scope="col">Total Payout</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="(postList$ | async)?.length>0; else emptyMsg">
    <tr *ngFor="let post of postList$ | async;">
      <td><a [href]="'https://busy.org/@'+post.sender" target="_blank">@{{post.sender}}</a></td>
      <td>{{post.body}}</td>
      <td>{{post.amount}} {{post.currency}}</td>
      <td>{{post.net_votes}}</td>
      <td>{{post.pending_payout_value}}</td>
      <td class="actionBtn">
        <a class="btn btn-outline-primary" [href]="'https://busy.org'+post.url" target="_blank">Busy <i class="fas fa-external-link-alt"></i></a>
        <a class="btn btn-primary btn_steemit" [href]="'https://steemit.com'+post.url" target="_blank">Steemit <i class="fas fa-external-link-alt"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div><b>* This list refreshes every 60 seconds.</b></div><br>
  <div><b>Currently watching: </b>
    <span *ngFor="let bot of commentBotList; last as isLast">
      <a [href]="'https://busy.org/@'+bot" target="_blank">@{{bot}}</a>
      <span *ngIf="!isLast">, </span>
    </span>
  </div>
</div>
<ng-template #emptyMsg>
  <tr>
    <td colspan="6">There are no comments in current up-vote queue.</td>
  </tr>
</ng-template>

