<br>
<div class="container">

  <table mat-table [dataSource]="pendingPostsDS" matSort class="pendingPosts">

    <!-- Post Index -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef mat-sort-header># </th>
      <td mat-cell *matCellDef="let post;" class="text-center">{{pendingPostsDS.filteredData.indexOf(post)+1}}</td>
    </ng-container>
    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author </th>
      <td mat-cell *matCellDef="let post"><a [href]="'https://busy.org/@'+post.sender" target="_blank">@{{post.author}}</a> </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="postCol">Category</th>
      <td mat-cell *matCellDef="let post" class="postCategory"> {{post.category}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="titleCol">Title </th>
      <td mat-cell *matCellDef="let post"><a [href]="post.url" target="_blank">{{post.title}}</a> </td>
    </ng-container>

    <!-- Current Votes Column -->
    <ng-container matColumnDef="total_votes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="votesCol">Votes </th>
      <td mat-cell *matCellDef="let post"> {{post.total_votes}}</td>
    </ng-container>

    <!-- Current Payout Column -->
    <ng-container matColumnDef="total_payout">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="payoutCol">Current Payout </th>
      <td mat-cell *matCellDef="let post"> {{post.total_payout}}</td>
    </ng-container>

    <!-- Actions Column -->
    <!--<ng-container  matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions </th>
      <td mat-cell *matCellDef="let post" style="white-space: nowrap">
        <a class="btn btn-outline-primary" [href]="'https://busy.org'+post.url" target="_blank">Busy <i class="fas fa-external-link-alt"></i></a>
        <a class="btn btn-primary btn_steemit" [href]="'https://steemit.com'+post.url" target="_blank">Steemit <i class="fas fa-external-link-alt"></i></a>
      </td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.category"></tr>
  </table>
</div>

