<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../assets/images/curator_logo.png" height="45px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" routerLink="/commentCuration" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Comments Curation</a>
      <a class="nav-item nav-link" href="#" routerLink="/utopian" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Utopian Posts</a>
    </div>
    <span class="navbar-text" style="margin-left:auto">
      <a class="nav-item nav-link" href="#" routerLink="/settings" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Settings</a>
    </span>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
