#navbarNavAltMarkup {
  margin-left: 2rem;
}
.nav-link.active {
  border-bottom: 5px solid #fff;
  margin-bottom: -9px;
}
.navbar {
  padding-bottom: 0.2rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
