<br>
<div class="container">
  <div class="card border-secondary mb-3">
    <div class="card-header">Steem Curator</div>
    <div class="card-body text-secondary">
      <p class="card-text">Steem Curator is an effort to help the community with my knowledge of technology and steem economy.
      The goal of this project will always be to maximize your curation earnings by scanning through various bot activities to find
      best content to up-vote before major votes fall in so you earn curation reward for every vote that you cast.</p>

      <br>
      <h5 class="card-title">Feature 1: Comments Curation</h5>
      <p>This module looks through the current bids of 16 bots which support comment up-voting and displays the result for easy curation.
      I also added two links, one for steemit.com and other for busy.org. If you use busy.org, you can set voting % so you can cast more votes
      without depleting your voting power a lot. Even a small up-vote before the bigger votes gets you a decent share of curation pie.</p>

      <b><i>If you find this site useful, drop me a follow on <a href="https://steemit.com/@mightypanda">steemit</a>.</i></b>
<br>
      <p>Cheers, <b><a href="https://steemit.com/@mightypanda">@mightypanda</a></b></p>
    </div>
  </div>
</div>
