<br>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Github username" [(ngModel)]="username"
         aria-label="Github username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" routerLink="/user/{{username}}">Get Profile</button>
  </div>
</div>
<div class="card" style="width: 18rem;" *ngIf="profileData">
  <img class="card-img-top" src="{{profileData.avatar_url}}" alt="Card image cap">
  <hr>
  <div class="card-body">
    <h5 class="card-title">{{profileData.login}}</h5>
    <p class="card-text"></p>
    <a href="{{profileData.html_url}}" class="btn btn-primary">Go to Repos</a>
  </div>
</div>
