.full-size {
  width: 100%;
}
.infoBox {
  padding-bottom: 2rem;
}
.fe-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.fe-radio-button {
  margin: 5px;
}

.fe-selected-value {
  margin: 15px 0;
}
